{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1 class="mb-4">Create a new entry</h1>
    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <div class="mycontainer">
        <input class="title mb-3 w-80" type="text" name="title" placeholder="title">
        <textarea class="mb-3" name="content" rows="4" placeholder="Content goes here..."></textarea>
        <input type="submit">
      </div>
    </form>
    
{% endblock %}
